extends base
block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Sign up
      form.form.form--signup
        .form__group
          label.form__label(for='Name') Name
          input#nameSignup.form__input(type='Name', placeholder='John Doe', required)
      
        .form__group
          label.form__label(for='email') Email address
          input#emailSignup.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#passwordSignup.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Password Confirm
          input#passwordConfirmSignup.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Sign up